<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>DEATH TOURNAMENT 3000</title>

</head>
<body>
<nav>
  <li><a href="/">Home</a></li>
  <li><a href="/fighting_rules">Fighting Rules</a></li>
  <li><a href="/">Player one choose yer tool</a></li>
  <li><a href="/">Player two choose yer tool</a></li>

 </nav>

  <%= yield %>

</body>
</html>
